@import '../../variables';

.bg-img {
  background-image: url('../../assets/images/trans-bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width : 955px) {
    background-size: cover;
  }
}

.full-height {
  position: relative;
  height: 65vh;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.min-vh-100 {
  min-height: 70vh !important;
}

.section~.section {
  padding-top: 10vh;
}

.section {
  padding: 40px;
}

.logo-img {
  height: 275px;
  vertical-align: middle;
  border-style: none;
}

@media (max-width: $screen-sm-max) {
  .logo-img {
    height: 200px;
  }
}


.bottom-left {
  left: 50px;
  bottom: 50px;
}

.position-absolute {
  position: absolute !important;
}

@media (max-width: $screen-sm-max) {
  .logo-img {
    height: 200px;
  }
}

.bg-gradient {
  background: #eda1ad;
  background: linear-gradient(90deg, #ec9da9 0%, #eda1ad 48%, #eea5b1 100%);
}

.bg {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-primary {
  background-color: #eda1ad !important;
}

.full-width-btn {
  width: 80%;
}

.img-container {
  height: 45vh;

  .bg-flores {
    height: 100%;
    background: darken($primary-color, 20);
    background-image: url("../../assets/images/flores.jpg");
    background-position: 0 25%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.fa-10x {
  font-size: 10em;
}